<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShippingStationLogin.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ShippingStationLogin.Settings1>
            <setting name="POSTGRES_HOST" serializeAs="String">
                <value>vsbslgprd01.zmr.zimmer.com</value>
            </setting>
            <setting name="POSTGRES_DATABASE" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="POSTGRES_PORT" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="POSTGRES_USERNAME" serializeAs="String">
                <value>doarni</value>
            </setting>
            <setting name="POSTGRES_PASSWORD" serializeAs="String">
                <value>ZimmerBiomet</value>
            </setting>
        </ShippingStationLogin.Settings1>
    </userSettings>
</configuration>